<!DOCTYPE html>
<html lang="en">

<head>
    <title>chatroom</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div class="chartRoom" id="chartRoom">
        <div class="content">
            <div>数组循环部分：</div>
            <div class='demoDiv'>
                <div v-for="item in arr">
                    <div>名字：{{item.name}}</div>
                    <div>id：{{item.id}}</div>
                    <div>{{item.msg}}</div>
                </div>
            </div>
        </div>

        <div class="inputBox">
            <input type="text" v-model="msg" placeholder="请输入消息">
            <button @click="sendMsg">发送</button>
        </div>
    </div>
</body>
</html>